body {
    margin: 0;
    font-family: nunito sans, 'Times New Roman', Times, serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    }
.header {
    background-color: #131313;
    
}
.header-content {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
    height: 83px;
    align-items: center;
    

}
.headerNav {
    list-style: none;
    display: flex;
}
.headerNav_item {
    margin-right: 47px;
}
.logo {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    }    
.phoneNumber {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    text-size-adjust: 30px;
    }