@font-face {
    src: url(../fonts/NunitoSans-Regular.ttf);
    font-family: "Nunito Sans";
}
@font-face {
    src: url(../fonts/NunitoSans-Italic.ttf);
    font-family: 'Nunito Sans italic';
}
@font-face {
    src: url(../fonts/NunitoSans-Bold.ttf);
    font-family: 'Nunito Sans bold';
}
@font-face {
    src: url(../fonts/YesevaOne-Regular.ttf);
    font-family: 'Yeseva One';
}
body {
    margin: 0;
    font-family: "Nunito Sans", "Times New Roman", Times, serif;
}
body * {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container-bottom {
    margin-top: 50px;

}
.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    }
.button2 {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #FFFFFF;
    outline: 0;
    padding: 13px 33px;
    text-transform: uppercase;
    font-family: 'Nunito Sans italic' ,'Times New Roman';
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    background-color: Transparent;
    margin-left: 20px;
}
.header {
    background-color: #131313;
    position: sticky;
    top: 0;
    z-index: 2;
    
}
.header-content {
    display: flex;
    justify-content: space-between;
    padding: 22px, 10px;
    height: 83px;
    align-items: center;
    color: #FFFFFF;
}
.header-content-2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    
}
.headerNav {
    list-style: none;
    display: flex;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px; 
}
.headerNav_item {
    margin-right: 47px;
    color: #FFFFFF;
}
.href-coor {
    color: #FFFFFF;
}
.logo {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    }    
.phoneNumber {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    text-size-adjust: 30px;
    }
 .hero {
        background-image: url('../img/image.jpg');
        background-size: cover;
        height: 707px;
        padding-top: 194px;
        position: relative;
    }
.hero-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .7);
    }
.hero-container  {
        position: relative;
        z-index: 1;
    }
.tittle {
        width: 500px;
        height: 105px;
        margin: 0;
        font-family: 'Yeseva One', 'Times New Roman';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
.subtittle {
        width: 500px;
        height: 90px;
        font-family: 'Nunito Sans', 'Times New Roman';
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 36px;

color: #FFFFFF;
    }
.colorText {
        text-transform: uppercase;
        color: #E3B873;
    }
.projects {
    background-color: black;
}
.description {
    font-family: 'Nunito Sans', 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}
.container_projects {
    max-width: 1200px;
    margin: 0 auto;
}
.photo2 {
    justify-content: flex-end;
    max-height: 400px;
    max-width: 600px;
    margin: 0 auto;
}
.container_photo {
    display: flex;
    flex-wrap: wrap;
}
.container_not_photo {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;

}
h3 {
    font-family: Yeseva One;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
text-transform: uppercase;

color: #E3B873;
}
.projectsBlock3 {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.projectsBlock4{
    margin-right: 50px;
}
.somvol {
    color: white;
    margin-top: 10%;
    word-spacing: 20px;
    display: grid;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.somvol ::before {
    content: url(../img/left.svg);
    vertical-align: sub;
    
}
.somvol ::after {
    content: url(../img/right.svg);
    vertical-align: sub;
}
.container_online {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 820px;
    position: relative;
    margin: 0 auto;
    justify-content: space-between;
}
.camera {
    color: white;
    display:flex;
    flex-direction:column;
    align-items:center; 
    }
.camera2 {
        align-items: center;
    }
.camera2 ::before {
    content: url(../img/Rectangle\ 6.7.svg);
    vertical-align: top;
}
.camera2 ::after {
    content: url(../img/Rectangle\ 6.7.svg);
    vertical-align: top;
}

.section3 {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.video {
    position:relative;
}
.play {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    clip-path: circle(26%);
    padding-top: 1%;
    
}
.section4 {
    background-color: white;
    margin-top: -250px;
    padding-top: 280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    
}
.darkPhoto {
    filter: brightness(30%);
}
.text {
    padding: 0px 60px;
    text-align:center;
}
.imput {
    display: flex;
   flex-direction: row;
   align-items:end;
   max-width: 800px;
}
.imput2 {
    margin-right: 25px;
   border-width: 0px 0px 1px 0px;
   border-color: gba(54, 54, 54, 0.3);
}
.checkbox {
    background: #E3B873;
    border-radius: 1px;
    border: 1.5px solid #FFFFFF;

}
.section5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.color_black {
    color: #131313 ;
    font-weight: bold;
}
.types {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.container_rapair {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.rapair {
    margin: 0px 10px;
    position: relative;
}
.Redecorating {
    background-color: white;
    margin-top: -40%;
    margin-left: 10%;
    margin-right: 10%;  
    position: relative; 
    z-index: 3;
}
.Overhaul {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.verhaul {
    padding-left: 20px;
    padding-top: 20px
}
.check {
    display: inline-block;
    margin: 1rem;
    position: relative;
    padding-left: 20px;
  }
  .cbx {
    -webkit-perspective: 20;
    perspective: 20;
    position: absolute;
    top: 50%;
    left: 0%;
    margin: -12px;
    border: 2px solid #c8c8c8;
    background: #e8e8eb;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 20px;
    height: 20px;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + .cbx .flip {
    transform: rotateY(180deg);
  }
  .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
  }
  .front {
    background: #fff;
    z-index: 1;
  }
  .back {
    transform: rotateY(180deg);
    background: #E3B873;
    text-align: center;
    color: #fff;
  }
  .back svg {
    margin-top: 3px;
    fill: none;
  }
  .back svg path {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .section6 {
      background-color: white;
  }
  .four {
    background-image: url(../img/image6.1.jpg);
    position: relative;
    background-size: cover;
    height: 1000px;
    max-width: 650px;
  }
  .five {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }